include requirements.txt
recursive-include spikezoo/data/base *
include spikezoo/utils/vidar_loader.cpython-39-x86_64-linux-gnu.so
recursive-include spikezoo/archs *
recursive-exclude spikezoo/archs/spcsnet * 